{% extends "layouts/admin.njk" %}

{% set current_nav = 'admin-notifications' %}

{% block title %}Системные уведомления — ЛК администратора{% endblock %}

{% block content %}
  {% include "partials/system-notifications.njk" %}
{% endblock %}
